<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系統名稱-->
  <add key="AppName" value="WebMall 網路商城購物中心 v3.0" />
  <!--除錯模式 , =1 為不管權限問題-->
  <add key="DebugMode" value="1" />
  <!--登入頁面-->
  <add key="LoginUrl" value="~/login.aspx" />
  <!--後台管理首頁-->
  <add key="AdminUrl" value="~/admin.aspx" />
  <!--前台系統首頁-->
  <add key="HomeUrl" value="~/home.aspx" />
  <!--資料庫連線 Name-->
  <add key="ConnName" value="dbconn" />
  <!--語系清單-->
  <add key="Languages" value="zh-TW,zh-CN,en-US" />
  <!--預設語系-->
  <add key="Language" value="zh-TW" />
  <!--預設字型大小(XS=較小 S=小 M=中 L=大)-->
  <add key="FontSize" value="S" />
  <!--程式清單是否顯示縮圖-->
  <add key="PrgIcon" value="1" />
  <!--是否為多國語系功能-->
  <add key="MultiLanguage" value="0" />
  <!--是否為多公司別-->
  <add key="MultiCompany" value="1" />
  <!--使用者是否需區分公司-->
  <add key="UserCompany" value="0" />
  <!--網站的位址-->
  <add key="WebsiteAddress" value="http://www.ezmall.com.tw" />
  <!--管理員寄出信箱-->
  <add key="AdminSendEmail" value="johnson.ezmail@gmail.com" />
  <!--管理員接收信箱-->
  <add key="AdminRecEmail" value="johnson.ezmail@gmail.com" />
  <!--會員問題服務信箱-->
  <add key="ServiceEmail" value="johnson.ezmail@gmail.com" />
  <!--表尾-->
  <add key="Footer1" value="勞動部勞動力發展署桃竹苗分署"/>
  <add key="Footer2" value="地址：32605 楊梅區秀才路851號 電話：(03)4855368　傳真：(03)4881210 "/>
  <add key="Footer3" value="© 桃竹苗分署網站 Inc. All Rights Reserved"/>
  <add key="vs:EnableBrowserLink" value="false" />
</appSettings>
